@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fi-sidebar-nav{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

